/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

p.comTxt{
	margin-left: 25%;
	margin-right: 25%;
}

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

.gallery-container {
}


.modal {
  /*display : none*/
  top : 0%;
  /* height : 100vh; */
  /* width : 100vw; */
  height : 100%;
  width : 100%;
  position: absolute;
  margin-bottom: 0%;
}

.modal > div{
  position : relative;
}



#lightbox_container {
  display : none;
}

#lightbox {
  /* BUG : display: inline-block; */
  background-color: black;
  padding : 10px;
  text-align: center;
  /* overflow-y: auto; */
}

#lightbox-head {
  color : white;
  text-align: left;
  padding-bottom: 10px;
}

#lightbox-nav-img > div{
 display:inline-block;
}

#lightbox-img > img{
  display: inline-block;
  max-height: 90vh;
  max-width: 60vw;
}

#llbox-nav-next {
  display: inline-block;
  color: white;
  font-size: 5em;
  vertical-align: middle;
  width : 15vw;
  align-self: center;
}

#llbox-nav-prev {
  font-size: 5em;
  color: white;
  display: inline-block;
  vertical-align: middle;
  width : 15vw;
  align-self: center;
}

#llbox-nav-prev > p{
  align-self: center;
}

#lightbox_close{
  width : 1.5vw;
  display: inline-block;
}

#lightbox_title{
  width : 95vw;
  display: inline-block;
  font-weight: bold;
  font-size : 1.5em;
  text-align: center;
}

#lightbox-comments {

}

#lightbox-info {
  background-color: white;
  padding-bottom: 10px;
}

#lightbox-info > h2,dl {
  color : black;
}

.vignette{
  display: inline-block;
  border: solid;
  border-width: 1px;
  border-color: grey;
  margin-left: 10px;
  padding: 20px;
  width : 450px;
  height: 350px;
  vertical-align: top;
  text-align: center;
}

.vignette > img{
  max-height: 300px;
}
